<%=link_to "reset","/password/reset_password" %>
<%=link_to "Logout","../account/logout" %>
<%=link_to "Forget Password","../password/forget_password" %>

<%=form_with(model:@user,local: true,url: account_signup_path) do |form| %>

  <div>
    <%=form.submit "Create Account" %>
  </div>
<%end %>