<%=form_with(model:@user,local: true,url: account_signup_path) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div >
      <%=form.label :first_name %>
      <%=form.text_field :first_name %>
    </div>

    <div >
      <%=form.label :last_name %>
      <%=form.text_field :last_name %>
    </div>
  <div class>
    <%=form.label :date_of_birth %>
    <%=form.date_field :date_of_birth %>
  </div>
  <div class>
    <%=form.label :email %>
    <%=form.email_field :email %>
  </div>
  <div class>
    <%=form.label :password %>
    <%=form.password_field :password%>
  </div>
  <div class>
    <%=form.label :password_confirmation %>
    <%=form.password_field :password_confirmation%>
  </div>
  <div >
    <%=form.label :mobile_number %>
    <%=form.number_field :mobile%>
  </div>

    <div>
      <%=form.submit "Create Account" %>
    </div>
<%end %>